@import 'home.scss';

button{
    padding: 10px;
    width:100%;
    color: map-get($Background, 4);
    background: map-get($Foreground, 1);
    border:none;
    margin-top:40px;
    font-weight: bold;
    cursor: pointer;
    &:active{
        border:none !important;
        padding-top: 10px;
    }
}